
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e7f0fe;
}

h1{
  color: black;
  text-align: center;
  margin-top: 3%;
}

form{
  border-radius: 5px;
  width: 450px;
  margin: auto;
  padding: 2.5%;
  background: white;
}

#sept + #sept {
  margin-top: 20px;
}





#nextBtn{
  position: relative;
  top: 50%;
  background: #0075ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  padding: 7.5px;
  float: right;

}
#prevBtn{
  position: relative;
  float: left;
  top: 50%;
  background: #0075ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  padding: 7.5px;
}



#loopedItems{
  padding: 10px;
  margin: auto;
  position: relative;
  text-align: center;
}

.infoLabel{
  font-size: 20px;
  text-align: center;
}

.step{
  display: none;
} 


.indicators{
  padding: 2px;
  height: min-content;
  width: max-content;
  position: relative;
  margin: auto;
}

.indicator {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #94beff;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.indicator.active {
  opacity: 1; 
}


.AssessLabel {
  font-size: 20px;
  padding-top: 5px;
}
