<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="A website for rating your ASH teacher">
        <meta name="viewport" content="width=device-width, initial-scal=1.0">
        <!-- <link rel="icon" type="image/png" href="link" /> -->
        <title>ASH: Rate Teacher</title>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='404.css') }}">
    </head>
      <div id="fourofour">404</div>
      <div>this page doesn't exist</div>
</html>